/* General Styles */
body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  background: url(/public/img/pumpaction.jpeg);
  color: white;
  /* overflow-x: hidden; */
}

.nav {
  background: url(/public/img/pumpaction.jpeg);
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #19d47b;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-a,
.nav-link-a-mobile {
  text-decoration: none;
  color: white;
  background: #19d47b;
  border: 1px solid transparent;
  padding: 10px;
  /*box-shadow: 0px 2px 4px white;
  */
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-link-a:hover,
.nav-link-a-mobile {
  background-color: transparent;
  border: 1px solid white;
}

.nav-link-a-mobile {
  display: none;
}

.list-items {
  transition: all 0.5s ease-in-out;
}

.list-items:hover {
  /* font-weight: bolder; */
  color: #19d47b;
}

.logo {
  color: white;
  background-color: white;
  padding: 5px;
  display: flex;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  align-items: center;
}

.logo-name {
  margin-top: 0;
  margin-bottom: 0;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.nav-list-container li {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.nav-list-container li:hover {
  /* background-color: black; */
  border-radius: 10px;

  /* padding: 10px; */
}

.nav-list-container ul {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background-color: #ffffff40;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.nav-links li {
  padding: 5px 10px;
}

.nav-links.show {
  display: flex;
}

/* HEADER */

.flex-nft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 10px; */
  background-color: red;
  margin: 100px 0;
}
.container-nft {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  /* width: 100%; */
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}

.text-one-intro {
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
}

.text-two-intro {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.text-color {
  color: #19d47b;
}

.first-section-title {
  padding-top: 50px;
}

.header-text {
  font-size: 2rem;
  text-align: center;
}

.header-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav-link-a {
  border: 1px solid #19d47b;
  padding: 15px 100px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  font-weight: bolder;
}

.header-nav-link-a:hover {
  background-color: #19d47b;
}

.header-btn {
  padding-top: 30px;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px 0; */
  background-size: cover;
  color: white;
}

/* COMMAND */

.command-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff29;
  background-color: #ffffff29;
  padding: 30px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.command-header h2 {
  font-size: 2.5rem;
}

.command-header li {
  font-size: 1.5rem;
  list-style: decimal-leading-zero;
}

.command-header ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* DOCS */
/* ////////////////////////// */

.tabs-container {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
  background-color: #0f1e13;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tabs-header {
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #19d47b;
}

.subtitle {
  font-size: 1rem;
  color: #c5c5c5;
}

.tabs-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tabs-nav button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.tabs-nav button.active {
  color: #19d47b;
  border-color: #19d47b;
}

.tabs-nav button:hover {
  color: #19d47b;
}

.tab-content {
  background-color: #132b1a;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.tab-content ul {
  list-style: none;
  padding: 0;
}

.tab-content ul li {
  margin: 10px 0;
  line-height: 1.5;
}

.tab-content ul li strong {
  color: #19d47b;
}

.center-title {
  text-align: center;
}

/* //////////////////// */

/* TERMS OF USE */

.terms-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  /* border-radius: 8px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.terms-header {
  /* text-align: center; */
  margin: 50px 0;
  color: black;
  font-size: 3rem;
}

.terms-header h1 {
  font-size: 2.5rem;
  color: #0056b3;
}

.terms-header p {
  font-size: 1rem;
  color: #777;
}

.terms-content h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}

.terms-content p {
  margin: 10px 0;
}

.terms-content ul {
  margin: 10px 0 20px 20px;
}

.terms-content ul li {
  margin-bottom: 10px;
  list-style-type: disc;
}

.terms-content a {
  color: #0056b3;
  text-decoration: none;
}

.terms-content a:hover {
  text-decoration: underline;
}

/* //////////////////// */
section {
  padding: 100px 0;
}
/* ///////////// */

/* FEATURES */

.features {
  margin: 100px 0;
}

.features h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #19d47b;
  padding: 0;
  margin: 0;
}

.features h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.features p {
  color: rgb(202, 198, 198);
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

.features-intro {
  text-align: center;
  /* border-top: 1px solid black; */
  padding: 60px 0;
}

.features-card {
  background-color: #e0fff0;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.feature-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-feature-title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

/* //////////////////// */
/* How It Work */
.HowItWork h2 {
  color: white;
  font-size: 3rem;
}

.HowItWork-el {
  text-align: center;
}
.HowItWork p {
  color: gray;
  font-weight: bolder;
}

.HowItWork-flex {
  padding: 100px 0;
}

/* .Conect-number {
  font-weight: bolder;
  border: 1px solid;
  padding: 10px; 
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 25px;  
  height: 25px;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0fff0;
  color: black;
  margin-right: -10px;
  z-index: 2;
  font-size: 1.5rem;
}

.Conect-text {
  border: 1px solid;
  padding: 10px 50px;
  background-color: #e0fff0;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} */

.flex-howitwork-one {
  display: flex;
  justify-content: flex-start;
}

.flex-howitwork-two {
  display: flex;
  justify-content: flex-end;
}

.flex-howitwork-three {
  display: flex;
  justify-content: flex-start;
}

.flex-howitwork-four {
  display: flex;
  justify-content: flex-end;
}

.connect-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* ////////////////////////// */

.aboutapi-el {
  /* text-align: center; */
}

.aboutapi-title {
  /* text-align: center; */
  font-size: 2rem;
}

.aboutapi-text {
  color: #19d47b;
  font-weight: bold;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
  text-align: left;
}
.aboutapi-el ol {
  display: flex;
  flex-direction: column;
  /* margin-right: 10px; */
  padding: 0;
  /* gap: 50px; */
  text-align: left;
}

.aboutapi-el ol li {
  font-weight: bold;
  padding: 10px 0;
}

/* //////////////// */

footer {
  background-color: #05050500;
}

.footer-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.footer-part-one {
  display: flex;
  gap: 10px;
  /* align-items: flex-start; */
  /* align-items: normal; */
  align-items: center;
  /* justify-content: top; */
  width: 40%;
}

.flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-part-two {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* //////////////////// */

/* Responsive Design */
@media (max-width: 768px) {
  .tabs-nav {
    flex-direction: column;
    align-items: center;
  }

  .tabs-nav button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .tab-content {
    font-size: 0.9rem;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .tabs-nav {
    flex-direction: column;
    align-items: center;
  }

  .tabs-nav button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .tab-content {
    font-size: 0.9rem;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .tabs-nav {
    flex-direction: column; /* Stack the tabs vertically */
  }

  .tabs-nav button {
    padding: 12px 10px;
    font-size: 1rem;
  }

  .tab-content {
    font-size: 0.9rem;
  }

  .tabs-container {
    padding: 15px;
  }
}

/* ////////////////////////// */

/* Mobile Styles */
@media (max-width: 768px) {
  /* logo */

  .logo {
    padding: 5px;

    font-size: 1rem;
  }

  .logo-name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo-img {
    width: 30px;
    height: 30px;
  }

  /*  */

  .nav-list-container {
    justify-content: space-between;
  }

  .nav-link-a-mobile {
    display: block;
  }

  .nav-link-a {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    border-radius: 0;
  }

  .nav-links.show {
    display: flex;
    background-color: rgb(88, 112, 95);
  }

  .menu-toggle {
    display: block;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  /* HEADER */
  .text-one-intro {
    font-size: 2rem;
  }
  .header-text {
    font-size: 1.3rem;
  }
  .text-two-intro {
    font-size: 3rem;
  }

  /* COMMAND */
  .command-header-container {
    margin: 250px 0;
  }

  /* FEATURE */

  .feature-list {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  .features-card {
    width: 80%;
  }
  /* How It Works */
  .flex-howitwork-three,
  .flex-howitwork-one,
  .flex-howitwork-two,
  .flex-howitwork-four {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
  }

  .footer-part-one {
    display: flex;
    gap: 10px;

    align-items: center;
    text-align: center;
    width: 100%;
  }

  .footer-part-two {
    display: flex;
    gap: 10px;

    align-items: center;

    width: 100%;
  }
}
